*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
@font-face {
  font-family: DashboardFont;
  src: url("Assets/ShipporiAntique-Regular.ttf");
}
body{
  font-family: DashboardFont;
}
a{
  text-decoration: none;
  color: inherit;
}
.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 3fr;
  row-gap: 4px;
}
/*Header items*/
.header{
  background-color: white;
  padding-left: 6%;
  padding-top: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  box-shadow: rgb(150, 150, 150) 0px 2px 10px 1px;
}
.header input{
  background-color: #f2f4f7;
  width: 800px;
  height:30px;
  border-radius: 30px;
  padding-left: 20px;
}
.profile-notif{
 display: inline-flex;
 width: max-content;
  margin-left: 200px;
}
.header-icons{
  flex: auto;
  margin-right: 20px;
  padding-bottom: 10px;
}
.profile-notif>p{
  width:200px;
  flex: 3 1 auto;
}
.actions{
  margin-top: 100px;
  margin-left: auto;
  margin-bottom: 50px;
}
.header-buttons{
  display: inline-block;
  text-align: center;
  font-weight: 400;
  color: white;
  padding: 10px;
  width: 90px;
  background-color: #0ea5e9;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: rgb(214, 214, 214) 0px 2px 3px 2px;
}
.welcome{
  display: inline-flex;
  margin-top: 80px;
}
.acc-img{
  width: 70px;
  height: 65px;
  margin-right: 20px;
  padding-bottom: 10px;
}
/*Sidebar Items*/
.sidebar{
  /*Colors and style*/
  color: rgb(228, 225, 225);
  background-color: #0ea5e9;
  /*Alignment*/
  padding-top: 30px;
  padding-left: 50px;
  grid-row: 1/3;
}
.sidebar>ul{
  list-style: none;
  padding-left: 20px;
}
.sidebar li{
  padding: 10px;
}
.menu-item, .config-item{
  width: 200px;
  border-radius: 30px;
  padding: 10px;
}
.menu-item:hover, .config-item:hover{
  background-color: #0369a1;
  
}
.icons{
  width: 15px;
  height: 15px;
  border: none;
  padding-right: 10px;
  padding-top: 0px;
  margin: none;
  fill: white;
}
.dashboard-icon{
  height: 50px;
  width: 50px;
}
.nav-menu, .config{
  font-size: 22px;
}
/*Content Items*/
.content-big{
  padding-top: 20px;
  padding-left: 30px;
  background-color: #E2E8F0;
  padding-bottom: 31px;
}
.content{
  margin-top: 16px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project{
  width: 400px;
  height: 150px;
  border-radius: 8px;
  border-left: solid 6px #FFA500;
  padding: 20px;
  background-color: white;
  box-shadow: grey 0px 4px 5px 2px;
}
.project p{
  font-size: 12px;
}
.announcement-body{
  background-color: white;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
}
hr{
  width: 100%;
  color: black;
  border: 1px dashed;
}
.trending{
  margin-top: 10px;
}
.trending-names{
  list-style: none;
  padding-left: 20px;
}
.trend{
  padding-top: 10px;
}
